a {
    text-decoration: none;
    color: ghostwhite;
}
h1 {
    padding: 0.5rem 2rem;
	margin: 0;
	color: ghostwhite;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
 	background: #cb3837;
    border-bottom: 1px solid #b83130;
}

.header__logged {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background: lightgrey;
    height: 3.5rem;
}

nav {
    padding: 0.5rem 2rem;
    flex: 1;
    display: flex;
	flex-direction: row;
    justify-content: flex-end;
}

main {
	flex: 1;
}

@media (orientation: landscape) {
    main {
        padding: 2rem;
    }
}

@media (orientation: portrait) {
    main {
        padding: 0.5rem;
    }
}

.navigation--link {
    padding: 0 0.5rem;
	color: ghostwhite;
}

footer {
	display: flex;
	height: 2rem;
	align-items: center;
	justify-content: center;
	color: ghostwhite;
 	background: royalblue;
}
